/*
Theme Name:     Jupiter Child Theme
Theme URI: 		http://themeforest.net/user/artbees
Description:    Child theme for the Jupiter theme 
Author:         Justin Vette
Theme URI: 		http://themeforest.net/user/artbees
Template:       jupiter
Version:        1.0
*/
#mk-footer .copyright {
  text-align: center; }

.mk-blog-classic-item .featured-image .image-hover-overlay,
.mk-blog-classic-item .featured-image .post-type-badge, .mk-blog-modern-item .featured-image .image-hover-overlay,
.mk-blog-modern-item .featured-image .post-type-badge {
  display: none; }

.mk-blog-classic-item .featured-image:hover img, .mk-blog-modern-item .featured-image:hover img {
  transform: none; }
